<% provide(:title, 'Edit Construction Table') %>

<p id="notice"><%= notice %></p>
<h1><%= link_to 'Construction Tables', dme_tables_path %> > Editing Construction Table</h1>

<%= render 'edit_navbar', :active => 'layout' %>

<table class="resizeable">
  <thead>
  <tr>
    <th>Col 1</th>
    <th>Col 2</th>
    <th>Col 3 is a long header name</th>
    <th>Col 4</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>This is data 1 with overflowing content</td>
    <td>This is data 2</td>
    <td>This is data 3</td>
    <td>This is data 4</td>
  </tr>
  <tr>
    <td>This is data 1</td>
    <td>This is data 2</td>
    <td>This is data 3</td>
    <td>This is data 4</td>
  </tr>
  <tr>
    <td>This is data 1</td>
    <td>This is data 2</td>
    <td>This is data 3</td>
    <td>This is data 4</td>
  </tr>
  <tr>
    <td>This is data 1</td>
    <td>This is data 2</td>
    <td>This is data 3</td>
    <td>This is data 4</td>
  </tr>
  <tr>
    <td>This is data 1</td>
    <td>This is data 2</td>
    <td>This is data 3</td>
    <td>This is data 4</td>
  </tr>
  <tr>
    <td>This is data 1</td>
    <td>This is data 2</td>
    <td>This is data 3</td>
    <td>This is data 4</td>
  </tr>
  <tr>
    <td>This is data 1</td>
    <td>This is data 2</td>
    <td>This is data 3</td>
    <td>This is data 4</td>
  </tr>
  <tr>
    <td>This is data 1</td>
    <td>This is data 2</td>
    <td>This is data 3</td>
    <td>This is data 4</td>
  </tr>
  <tr>
    <td>This is data 1</td>
    <td>This is data 2</td>
    <td>This is data 3</td>
    <td>This is data 4</td>
  </tr>
  <tr>
    <td>This is data 1</td>
    <td>This is data 2</td>
    <td>This is data 3</td>
    <td>This is data 4</td>
  </tr>
  <tr>
    <td>This is data 1</td>
    <td>This is data 2</td>
    <td>This is data 3</td>
    <td>This is data 4</td>
  </tr>
  <tr>
    <td>This is data 1</td>
    <td>This is data 2</td>
    <td>This is data 3</td>
    <td>This is data 4</td>
  </tr>
  </tbody>
</table>