<% provide(:title, 'Edit Construction Table') %>

<p id="notice"><%= notice %></p>
<h1><%= link_to 'Construction Tables', dme_tables_path %> > Editing Construction Table</h1>

<%= render 'edit_navbar', :active => 'fields' %>

<div id="log"></div>

<form autocomplete="off">
  <table class="table table-striped table-bordered inline_edit">
    <thead>
    <tr>
      <td style='width: 38px'></td>
      <td>Column Name</td>
      <td>Column Type</td>
      <td>Column Scale</td>
      <td>Column Limit</td>
      <td>Display Name</td>
      <td>Type</td>
      <td>Active</td>
      <td>Lookup</td>
      <td></td>
    </tr>
    </thead>
    <% @dme_table.dme_fields.order('sort_order asc').each do |f| %>
        <%= render 'dme_fields/field_row', :f => f %>
    <% end %>
  </table>
</form>

