<% provide(:title, 'New Connection') %>
<h1><%= link_to 'Connections', dme_connections_path %> > New Connection</h1>

<%= render 'form', :form_submit_button =>
        link_to('Create Connection', 'javascript:void(0)', class: 'btn btn-primary disabled',
                id: 'form_submit_btn', data: new_connection_path) %>